# ==========================================
# C++ & C Artifacts
# ==========================================
# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Libraries
*.lib
*.a
*.la
*.lo
*.def
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debugging and Profiling
*.pdb
*.idb
*.ilk
*.map
*.exp
*.gcov
*.gcda
*.gcno

# ==========================================
# Fortran Artifacts
# ==========================================
# Compiled modules and submodules
*.mod
*.smod

# ==========================================
# Build Directories and Systems
# ==========================================
# General Build Directories
build/
build-*/
out/
bin/
obj/
dist/

# Make
Makefile

# CMake 
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.cmake~
CMakeLists.txt.user

# CTest
Testing/
DartConfiguration.tcl

# CPack
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/

# CMake Doxygen
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# ==========================================
# Package Managers
# ==========================================
# Conan
conanbuildinfo.*
conaninfo.txt
.conan/

# vcpkg
vcpkg_installed/
.vcpkg/

# ==========================================
# Local Docker Builds
# ==========================================
# Ignore local directories used for Docker volume mounts/builds
docker-build/
.docker-build/
docker-out/
.docker-out/

# Ignore exported Docker images
*.tar
*.tar.gz
*.image

# Ignore local environment files used for Docker Compose
.env.docker.local
.env.local

# ==========================================
# IDEs and Tooling
# ==========================================
# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
*.vcxproj.user

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains (CLion)
.idea/
cmake-build-*/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# ==========================================
# OS-Specific Clutter
# ==========================================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Linux
*~
.directory

