streams:
  - name: MACCITY_CO
    input_files:
      - /work/data/MACCity_4x5.nc
    field_maps:
      - file_var: MACCity
        model_var: MACCITY_CO
    tax_mode: cycle
    time_interp: linear
    map_algo: bilinear
    read_mode: single
    dt_limit: 1500000000
    year_first: 2000
    year_last: 2010
    year_align: 2020
    offset: 0
    lev_dimname: lev
    time_var: time
    lon_var: lon
    lat_var: lat
    mesh_file: ""
  - name: MACCITY_NO
    input_files:
      - /work/data/MACCity_anthro_NOx_2000-2010_16080.nc
    field_maps:
      - file_var: MACCity
        model_var: MACCITY_NO
    tax_mode: cycle
    time_interp: linear
    map_algo: bilinear
    read_mode: single
    dt_limit: 1500000000
    year_first: 2000
    year_last: 2010
    year_align: 2020
    offset: 0
    lev_dimname: lev
    time_var: date
    lon_var: lon
    lat_var: lat
    mesh_file: ""
  - name: MACCITY_SO2
    input_files:
      - /work/data/MACCity_anthro_SO2_2000-2010_16080.nc
    field_maps:
      - file_var: MACCity
        model_var: MACCITY_SO2
    tax_mode: cycle
    time_interp: linear
    map_algo: bilinear
    read_mode: single
    dt_limit: 1500000000
    year_first: 2000
    year_last: 2010
    year_align: 2020
    offset: 0
    lev_dimname: lev
    time_var: date
    lon_var: lon
    lat_var: lat
    mesh_file: ""