class_name: "ExampleNewScheme"
scheme_name: "example_new"
description: "A new physics scheme for testing the generator."
generate_fortran: true
imports:
  - name: "temperature"
    var_name: "temp"
  - name: "wind_speed_10m"
    var_name: "u10"
exports:
  - name: "nox"
    var_name: "nox"
